@{
    ViewData["Title"] = "Crear tablero";
}

@model Tablero

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <form asp-controller="Tablero" asp-action="Create" method="post" autocomplete="off">
        <div class="mb-3">
            <input hidden asp-for = "@Model.IdUsuarioPropietario" value=1>
            <label for="nombre" class="form-label">Nombre</label>
            <input asp-for="@Model.Nombre" type="text" class="form-control" id="nombre" required>
            <label for="descripcion" class="form-label">Descripción</label>
            <input asp-for="@Model.Descripcion" type="text" class="form-control" id="descripcion" required>
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
        <a asp-controller="Tablero" asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>