<div class="text-center">
    <form asp-controller="Login" asp-action="LogoutConfirmed" method="post" autocomplete="off">
        <h1 class="display-4">¿Está seguro de cerrar su sesión?</h1>
        <div>
            <button type="submit" class="btn btn-danger">Cerrar sesión</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>