@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccesor
@{
    var session = HttpContextAccesor.HttpContext.Session;
}

@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido, @session.GetString("nombreUsuario")!</h1>
    <h3>Usted es un usuario administrador; estas son las opciones que tiene a su disposición:</h3>
    <ul>
        <li><a asp-controller="Usuario" asp-action="Index">Ver todos los usuarios registrados en el sistema</a></li>
        <li><a asp-controller="Tablero" asp-action="Index">Ver todos los tableros disponibles</a></li>
        <li><a asp-controller="Tarea" asp-action="Index">Ver todas las tareas registradas</a></li>
    </ul>
</div>
