@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccesor
@{
    var session = HttpContextAccesor.HttpContext.Session;
}

@{
    int idUsuario;
    int.TryParse(session.GetString("id"), out idUsuario);
}

@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center visionOS-card">
    <h2 class="display-4">¡Bienvenido, @session.GetString("nombreUsuario")!</h2>
    <h4>Usted es un usuario administrador; estas son las opciones que tiene a su disposición:</h4>
    <ul class="user-options-list list-group">
        <li><a asp-controller="Usuario" asp-action="Index">Ver todos los usuarios</a></li>
        <li><a asp-controller="Tablero" asp-action="Index">Ver todos los tableros</a></li>
        <li><a asp-controller="Tarea" asp-action="Index">Ver todas las tareas</a></li>
        <li><a asp-controller="Usuario" asp-action="Create">Crear un nuevo usuario</a></li>
        <li><a asp-controller="Tablero" asp-action="Create" asp-route-idUsuario="@idUsuario">Crear un nuevo tablero</a></li>
        <li><a asp-controller="Tarea" asp-action="Create" asp-route-idUsuario="@idUsuario">Crear una nueva tarea</a></li>
    </ul>
</div>
