@{
    ViewData["Title"] = "Eliminar Tarea";
}

@model Tarea

<div class="text-center">
    <form asp-controller="Tarea" asp-action="DeleteConfirmed" method="post">
        <h1>@ViewData["Title"]</h1>
        <h2>¿Desea confirmar la eliminación de la Tarea "@Model.Nombre"?</h2>
        <div>
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <input hidden asp-for="@Model.Id">
            <a asp-controller="Tarea" asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
    
</div>
