@font-face {
  font-family: 'San Francisco Display';
  src: url('../fonts/SF-Pro-Display-Regular.otf') format('opentype');
}

* {
  font-family: 'San Francisco Display', sans-serif;
}


html {
  font-size: 12px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem rgba(128, 128, 128, 0.523);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Modificaciones personales */

/* Layout CSS */

body {
  background-color: #2c303b;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 5%;
}

.navbar {
  background-color: #00000045 !important;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.045);
}

.navbar-brand {
  color: #dedede;
}

.navbar-brand:hover, .navbar-brand:focus {
  color: white;
}

.navbar-brand img {
  width: 35px !important;
  margin-right: 12px;
}

i {
  margin-right: 8px !important;
}

.login-button,
.logout-button,
.nav-button {
  color: #dedede;
  text-decoration: none;
  border-radius: 14px;
  border: none;
  padding: 4px 12px !important;
  margin-left: 15px;
  margin-right: 15px;
  transition: 0.3s;
}

.login-button:hover,
.logout-button:hover,
.nav-button:hover,
.login-button:focus,
.logout-button:focus,
.nav-button:focus {
  color: white;
  background-color: #2c303b !important;
  transform: scale(1.1);
}

.login-button {
  background-color: #5131c6bb !important;
  color: #8ea1ff;
}

.login-button:hover,
.login-button:focus {
  background-color: #5b36e1bb !important;
}

.logout-button {
  background-color: #472d1b !important;
  color: #ff6d7e;
}

.logout-button:hover,
.logout-button:focus {
  background-color: #623f26 !important;
}

.navigation-btn {
  position: fixed;
  top: 10%;
  left: 20px;
  z-index: 1000;
  width: 45px;
  height: 45px;
  font-size: large;
  background-color: #00000045 !important;
  backdrop-filter: blur(10px) !important;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.045) !important;
  color: #dedede !important;
  text-decoration: none;
  border-radius: 40px;
  border: none;
  padding: 2px;
  transition: 0.3s;
}

.navigation-btn:focus, .navigation-btn:hover {
  color: white;
  background-color: #2c303b !important;
  transform: scale(1.2);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #00000045 !important;
  backdrop-filter: blur(20px);
  padding: 5px;
  color: rgb(222, 222, 222) !important;
  letter-spacing: 0.5px;
  outline: none;
  text-align: center;
}

/* Forms CSS */

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.visionOS-card {
  background-color: #0d0d25 !important;
  border-radius: 44px;
  border: none;
  padding: 20px;
  color: #feffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px auto;
  max-width: 100%;
}

.visionOS-card h1, .visionOS-card h2, .visionOS-card h3, .visionOS-card h4 {
  width: 100% !important;
  text-align: center !important;
  margin-bottom: 20px !important;
  margin-left: 30px !important;
  margin-right: 30px !important;
  padding-bottom: 20px !important;
  background-image: linear-gradient(to right, transparent, #949ba7, transparent);
  background-position: 0 100%;
  background-size: 100% 1px;
  background-repeat: no-repeat;
}

h1 {
  font-size: 2.5rem !important;
}

h2 {
  font-size: 1.5rem !important;
}

h3 {
  font-size: 1rem !important;
}

.user-options-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 4fr);
  gap: 20px;
}

.user-options-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-options-list li a {
  color: #fcfcfe;
  background-color: #2c303b !important;
  border-radius: 24px;
  padding: 20px;
  text-decoration: none;
  font-size: 1.25rem;
  transition: 0.3s ease;
}

.user-options-list i {
  margin-left: 10px;
}

.user-options-list li a:hover, .user-options-list li a:focus {
  background-color: #4f576c !important;
  transform: scale(1.035);
  transition: 0.3s
}

/* Formularios */

form {
  background-color: #0d0d25 !important;
  border-radius: 50px;
  border: none;
  padding: 30px;
  color: #feffff;
  width: 400px;
  letter-spacing: 0.5px;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
}

label {
  display: block;
  color: #949ba7;
  margin-top: 20px;
}

input, select {
  height: 50px;
  color: #c2ccde !important;
  background-color: #2c303b !important;
  border-radius: 18px !important;
  margin-top: 9px;
  border: none !important;
  transition: 0.3s;
  text-align: center;
}

::placeholder {
  color: #737987;
}

button i {
  margin-left: 10px;
}

.btn, .login-form-button {
  letter-spacing: 0.5px;
  padding: 10px 15px !important;
  margin: 10px;
  color: #446cfa;
  background-color: #151b33 !important;
  border-radius: 20px;
  border: none;
  font-size: 1.25rem !important;
  transition: 0.3s;
}

.btn-danger {
  background-color: #471b26 !important;
  color: #ff6d7e;
}

.btn:hover, .btn:focus, .login-form-button:hover, .login-form-button:focus {
  color: #ffffff;
  background-color: #37488d !important;
  transform: scale(1.035);
  transition: 0.3s;
}

.btn-danger:hover, .btn-danger:focus {
  background-color: #b4153d !important;
  color: white;
  transition: 0.3s;
}

.login-form-button {
  margin-top: 30px;
}

.alert {
  border-radius: 24px;
  border: none;
  background-color: #471b26 !important;
  color: #ff6d7e !important;
  text-align: center;
  font-size: 1.25rem !important;
}


/* Tablas */

.table-container {
  background-color: #2c303b;
  border-radius: 24px;
  padding: 8px;
  width: 100%;
}

.table-container th {
  background-color: #50576c;
  padding: 5px 10px;
  font-size: larger;
}

.table-container th:first-child {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.table-container th:last-child {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.table-container td {
  padding: 10px;
}

.table-container tbody tr {
  background-image: linear-gradient(to right, transparent, #949ba7, transparent);
  background-position: 0 100%;
  background-size: 100% 1px;
  background-repeat: no-repeat;
}

.table-container tbody tr:last-child {
  background-image: none;
}

.table-container tbody tr td:first-child {
  font-size: large;
}

table {
  border-collapse: collapse;
  width: 100%;
}

/* Botones de tablas */

.table-container a {
  padding: 5px 0 5px 10px !important;
  color: #446cfa;
  background-color: #151b33 !important;
  border-radius: 12px;
  border: none;
  text-decoration: none;
  margin: 5px;
  transition: 0.3s;
}

.table-container a:nth-child(2) {
  background-color: #471b26 !important;
  color: #ff6d7e !important;
}

.table-container a:nth-child(3) {
  background-color: #2d1b47 !important;
  color: #a76dff !important;
}

.table-container a:hover, .table-container a:focus {
  color: #ffffff;
  background-color: #37488d !important;
  transition: 0.3s;
}
.table-container a:nth-child(2):hover, .table-container a:nth-child(2):focus {
  background-color: #b4153d !important;
  color: white !important;
  transition: 0.3s;
}

.table-container a:nth-child(3):hover, .table-container a:nth-child(3):focus {
  background-color: #7215b4 !important;
  color: white !important;
  transition: 0.3s;
}

.table-container i {
  margin-left: 10px;
}

.options-cell {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.color-cell div {
  margin: auto;
}

.description-cell {
  max-width: 300px;
  overflow: hidden;
}